.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #006D77;
  color: white;
  box-sizing: border-box;  /* ✅ Ensures padding doesn't overflow */
  height: 75px;
}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.user {
  font-size: 1rem;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
}


.header-right span {
  margin-right: 1rem;
  font-weight: 500;
}

.header-right button {
  background-color: #c92a2a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.header-right button:hover {
  opacity: 0.9;
}


